
@{
    ViewData["Title"] = "Registration";
}



<form action="/Registration/Welcome/" method="post">
    First Name: <input type="text" name="firstname" /> <br />

    Last Name: <input type="text" name="lastname" /> <br />
    Password: <input type="password" name="mypassword" /> <br />
    <input type="submit" /> <br />




</form>

